{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='general.css')}}">
{% endblock %}

{% block content %}
    <div class="topnav">
        <a class="active" style="font-weight: bolder; background-color: #0099e6; margin-right: 10px; border: 2px #000000;color: white"> Password security guard </a>
        <a class="active" href="{{ '/home' }}"> Home </a>
        <a href="{{ url_for('logout') }}"> Logout </a>
    </div>

    <div class="container">
        <h1> Hello world! </h1>
        <p>Password list:</p>
        <ul>
            {% for password in passwords %}
                <li style="font-size: 18px; ">
                    {{ password.address }}
                    <form style="display:inline-block;" method="GET" action="{{ url_for('password_details', id=password.id) }}">
                        <input class="button-10" type="submit" value="Show">
                    </form>
                </li>
            {% endfor %}
        </ul>

        <form class="form-addpassword" method="POST" action="/home">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.address) }}
            {{ wtf.form_field(form.password) }}
            <button class="btn btn-lg btn-primary btn-block" style="background-color: #0099e6;" type="submit">Add password</button>
        </form>

    </div>
{% endblock %}