{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Password details
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='general.css')}}">
{% endblock %}

{% block content %}
    <div class="topnav">
        <a class="active" style="font-weight: bolder; background-color: #0099e6; margin-right: 10px; border: 2px #000000;color: white"> Password security guard </a>
        <a class="active" href="{{ '/home' }}"> Home </a>
        <a href="{{ url_for('logout') }}"> Logout </a>
    </div>

    <div class="container">
        <p> {{ password }} </p>

    </div>
{% endblock %}